// ? /node_modules/bootstrap/...
@import "../../node_modules/bootstrap/scss/bootstrap";



a{
    text-decoration: none;
}

footer{
    @import "./partials/footer";
}

.pokecard{
    width: calc(100%/3);
    img{
        width: 100%
    }
}

header{
    @import "./partials/header";
}


main {

    section#pastas{
        background: url('../img/pokemons.jpg');
    }
}